<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toolboothfunctionapp0502.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ab7170e9-57d2-4eca-b2e6-1057511caa94/resourceGroups/ServerlessArchitecture/providers/Microsoft.Web/sites/ToolBoothFunctionApp0502</ResourceId>
    <UserName>$ToolBoothFunctionApp0502</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://toolboothfunctionapp0502.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>